client/node_modules
server/node_modules
server/public
server/.env
queue/node_modules
queue/downloads
queue/dist
queue/.env
ts-client/.env.dev
ts-client/.env.production
ts-client/.env
ts-client/node_modules